 <%if notice %>
    <p class="alert alert-success" role="alert"><%= notice %></p>
    <% end%>
    <%if alert %>
    <p class="alert alert-danger" role="alert"><%= alert %></p>
    <% end %>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
