<article>
    <% provide(:title, 'Cart') %>
    <h2>Cart</h2>
    <table>
        <tr>
            <td>Quantity</td>
            <td>Product</td>
            <td>Price</td>
        </tr>
        <% @cart.line_items.each do | item | %>
            <tr>
                <td><%= item.quantity %></td>
                <td><%= item.product.name %></td>
                <td>
                    <%= number_to_currency(item.total_price, unit: "€", delimeter: "") %>
                </td>
                <td> <i class="fas fa-times"></i></td>
                <td> <i class="fas fa-redo"></i></td>
            </tr>
        <% end %>
        <tfoot>
            <tr>
                <th colspan="2">Total</th>
                <td>
                    <%= 
                        number_to_currency(
                            @cart.total_price,
                            unit: "€",
                            delimeter: ""
                        )
                    %>
                </td>
            </tr>
        </tfoot>
    </table>

    <%= 
        button_to 'Empty cart', @cart,
        method: :delete,
        data: { confirm: 'Are you dure'},
         class:'btn btn-primary back-btn'
    %>
    <%= button_to 'Back', products_path, method: :get, class:'btn btn-default' %>
</article>
