<%@products.each_slice(3).each do |product| %>
  <div class="row">
    <% cache product do %>
      <% product.each do |product| %>
        <div class="col-sm-4 col-md-4 product-col">

          <!-- product image -->
          <%= link_to image_tag(product.image_url, class:"img-responsive product-img "),product %>
  
          <!-- product info -->
          <div class="product-info">
            <h2><%= link_to product.name, product %></h2>
            <% if product.comments.present? %>
              <div class="rated" id="average-rating" 
                data-score="<%= product.average_rating %>">
              </div>
            <% end %>

             <!-- product price and cart button -->
            <div class="add-cart">
              <p class="price">
                <%=number_to_currency(product.price) %>
              </p>
              <%= button_to 'Add to cart', line_items_path(product_id: product) %>
            </div>
              
          </div><!--/product-info end -->

        </div>
      <% end %>
    <% end %>
    
  </div>
<% end %>


