<% provide(:title,@product.name) %>
<div class="container product-show-page">
  <div class="row" data-product-id="<%= @product.id %>">

    <div class="col-md-6">
      <% cache @product do %>
       <!-- product image -->
      <%= image_tag(@product.image_url , class:"img-responsive",
                              id:"zoom_01", alt:"product image") %>

      <!-- product description and comments tabs #Bootstrap boilerplate -->
      <div class="product-overview">
        <h1> <%= @product.name %></h1>

        <ul class="nav nav-tabs">
          <li role="presentation" class="active">
            <a href="#description1" data-toggle="tab" role="tab">Description</a>
          </li>
          <li role="presentation">
            <a href="#comments1" data-toggle="tab" role="tab">Reviews</a>
          </li>
        </ul>
        <!-- tab contents for the above tabs #Bootstrap boilerplate -->
        <div class="tab-content">
          <div class="tab-pane active" id="description1">
            <hr>
            <%= sanitize(@product.description) %>
          </div>
          <div class="tab-pane" id="comments1">
            <!-- new comment form -->
            <p><%= render 'new_comment' %></p>
            <!-- render all comments -->
            <p><%= render 'comments' %></p>
            <div class="alert alert-info" style="display:none" role="alert">
            A new comment was posted!
            </div>
            <%= paginate @comments %>
          </div>
        </div> <!-- tabs and contents ends here -->
      </div> <!-- product overview-->
      <% end %> <!-- end of caching -->
    </div><!-- first col (prouct image,description and comments)-->

    <!-- product payment, ratings and cart col -->
    <div class="col-md-6">
      <div class="cart-rating">
        <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>
        <h2><%=number_to_currency(@product.price) %></h2>
        <div>
          <%= render 'shared/pay'%>
        </div>
      </div>
    </div>

  </div><!--row end-->
</div><!--container end-->


