<!DOCTYPE html>
<html>
  <head>
    <title>Firstapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale =1">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="page-wrap">
    <nav class ="navbar navbar-custom">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type= "button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#collapsedNav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <a href="#"><%= image_tag("icon.png", size: "40")%></a>
          </div><!--navbar-brand ends-->
        </div><!--navbar-header ends-->
        <div class="collapse navbar-collapse navbar-right" id="collapsedNav">
          <ul class="nav navbar-nav">
            <!--nav-links here-->
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div><!--nav-links ends>
      </div><!--container-fluid ends-->
    </nav>
    <%= yield %>
    </div><!--page-wrap-->
  <footer class="footer">
    <div class="container">
      &copy; 2017 Bike Berlin
    </div>
  </footer>

  </body>
</html>
