
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Firstapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale =1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
    <%= csrf_meta_tags %>
  </head>
  <body data-target=".navbar">
    <div class="page-wrap">
    <!--navigation starts-->
    <%= render 'layouts/navbar'%>

    <%= yield %>
     <!--flash notification tags-->
     <%if notice %>
    <p class="alert alert-success" role="alert"><%= notice %></p>
    <% end%>
    <%if alert %>
    <p class="alert alert-danger" role="alert"><%= alert %></p>
    <% end %>
    <!--flash notification tags end-->
    </div><!--page-wrap-->
  <footer class="footer">
    <div class="container">
      &copy; 2017 Bike Berlin
    </div>
  </footer>
  </body>
</html>
